<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786424280933-ss3tjl2i2aviem0kgig2ov342lrkulgf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786424280933-ss3tjl2i2aviem0kgig2ov342lrkulgf</string>
	<key>API_KEY</key>
	<string>AIzaSyBMI9si1-IBGhpUrGEodaabYXXsNAhUbmE</string>
	<key>GCM_SENDER_ID</key>
	<string>786424280933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kiser.Backlog</string>
	<key>PROJECT_ID</key>
	<string>backlog-b87cd</string>
	<key>STORAGE_BUCKET</key>
	<string>backlog-b87cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786424280933:ios:9613ddd4f20641dc26138c</string>
</dict>
</plist>